@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');


html, body, #root {
  font-family: 'Fira Sans', sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.logo {
  height: auto;
  width: max(20vw, 200px);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  animation: silo-fade 1.5s;
  animation-fill-mode: forwards;
  pointer-events: none;
}


/* Animation from Silo Creativo */
@keyframes silo-fade {
  0% {
    opacity: 0;
    transform: translate(-50%, -100%);
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
